<% layout("layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-5">
            <div class="new-attribute mb-4 mt-4">
                <h2>Edit Your Property</h2>
            </div>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
                    <div class="valid-feedback">Title Looks Promising!</div>
                    <div class="invalid-feedback">Title should be present</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="listing[description]" class="form-control"><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL:</label>
                    <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid Image URL</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-5">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Please enter a Price!</div>
                    </div>
                    <div class="mb-3 col-md-7">
                        <label for="Location" class="form-label">Location:</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                        <div class="invalid-feedback">Location should be present</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Country" class="form-label">Country:</label>
                    <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                    <div class="invalid-feedback">Country name should be Valid</div>
                </div>
                <div class="new-attribute mt-4">
                    <button type="submit" class="btn btn-dark add-btn">Edit This Listing</button>
                </div>
                <br><br>
            </form>
        </div>
    </div>
</body>