<% layout("layouts/boilerplate") %>

    <body>

        <div class="row">
            <div class="col-9 offset-2 ">

                <br><br>
                <h3 class="show-heading"><b><%= listing.title %></b></h3>
                <div class="card col-6 show-card mt-3" style="width: 40rem;">
                    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
                    <div class="card-body">
                        <p class="card-text">
                            <br>
                            <%= listing.description %><br>
                                <b>Price:</b> &#x20b9; <%= listing.price.toLocaleString("en-IN") %> /night<br>
                                    <b>Location:</b>
                                    <%= listing.location %><br>
                                        <b>Country:</b>
                                        <%= listing.country %>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btns">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-4">Edit</a>
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark offset-6">Delete</button>
            </form>
        </div>


        <div class="col-9 offset-2 mt-3 mb-3">
            <hr>
            <h3>Leave a review</h3>
            <form action="/listings/<%= listing._id %>/reviews" method="POST">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
        </div>
    </body>